body{
    height: 100%;
    background-image: url("pink-fluffy-hearts.jpg");
}
header{
    color: rgb(235, 165, 212);
    text-align: center;
    background-color: rgb(255, 0, 140);
    font-size: 30px;}
    .navbar {
        overflow: hidden;
        background-color: rgb(241, 7, 210);
      }
      
      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      .subnav {
        float: left;
        overflow: hidden;
      }
      
     
      .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
      }
      
      .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: rgb(82, 2, 46);
      }
      
      .subnav-content {
        display: none;
        position: absolute;
        left: 0;
        background-color: rgb(46, 3, 30);
        width: 100%;
        z-index: 1;
      }
      
    
      .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
      }
      
   
      .subnav-content a:hover {
        background-color: rgb(56, 37, 52);
        color: white;
      }
      
    
      .subnav:hover .subnav-content {
        display: block;
      }
      footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color:white;
        text-align: center;
      
     }